<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Hello World <ion-icon name="play"> </ion-icon> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      color="primary"
      lines="none"
      (click)="showModal(item)"
      *ngFor="let item of items"
      [routerLink]="['/', 'tabs', 'tab1', 'detail', item.id.value]"
    >
      <ion-thumbnail slot="start">
        <img [src]="item.picture.thumbnail" />
      </ion-thumbnail>

      <p>{{item.name.first}} {{item.name.last}}</p>
    </ion-item>
  </ion-list>

  <pre> {{location | json}}</pre>
  <img [src]="photo" *ngIf="photo" />

  <ion-button (click)="takePhoto()">take Photo</ion-button>
  <ion-button (click)="showAlert()">Show Alert</ion-button>
  <!-- <ion-button (click)="showModal()">Show Modal</ion-button> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer One</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Footer Two</ion-title>
  </ion-toolbar>
</ion-footer>
